---
title: Sankalp Kulshreshtha
---

<div class="welcome">
	<img id="homeprofile" src = "/images/sankalpkulshreshtha.jpeg"></img>
	<p>Hi! Thanks for visiting.</p>

	<p>I'm an undegraduate student interested in Human-Computer Interaction,  crowdsourcing, product management, and startups.</p>

	<p>Currently, I study Information Systems at Carnegie Mellon University, research crowdsourcing at CMU's Social Computing Lab and code web apps in Rails.</p>

	<p><a id="letsconnect" >Let's connect</a>.</p>
	<p>-Sankalp Kulshreshtha</p>
</div><!-- welcome -->

<div id="connect" class="sidebar">
	<div id="connectHide">hide</div>
	<h1>Connect</h1>

	<ul>
		<li>Want to talk, grab coffee, bounce ideas back and forth? Passionate about education?
			<ul>
				<li><a href="http://www.google.com/recaptcha/mailhide/d?k=01dPCGZnyYUglgI7-ZdRKzZw==&amp;c=fUEv1_--Mz49jk8d_6GmZ4cGEnzwuuva0-iSGCIRHTI=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501dPCGZnyYUglgI7-ZdRKzZw\75\75\46c\75fUEv1_--Mz49jk8d_6GmZ4cGEnzwuuva0-iSGCIRHTI\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Email</a></li>
			</ul>
		</li>
		<li>Want to hear about what I'm learning and what I'm doing?</li>
			<ul>
				<li><a href="https://plus.google.com/107727491735561172395/posts" target="_blank">Google+</a></li>
				<li><a href="http://sankalp221.quora.com/" target="_blank">Quora Blog</a></li>
				<li><a href="https://twitter.com/sankalp221" target="_blank">Twitter</a></li>
			</ul>
		</li>
	</ul>
</div><!-- connect -->