---
title: Sankalp Kulshreshtha's Portfolio
---
<div id="portfolio">
	<h1><a href="/">Sankalp Kulshreshtha's</a> Portfolio</h1>
	<a href="/assets/resume.pdf">Resume</a>
	<div class="pitem">
		<h2>Krypton</h2>
		<h3>Seth Godin Internship</h3>
		<div class="description">
			<img src="/images/krypton.png" align="right"></img>
			<p>
				Under NDA, but feel free to contact me for more details. From the public Vimeo description:
				<blockquote>More than 3,000 people applied to be part of this paid internship, and 16 spent a fortnight together, sprinting, building, inventing, connecting and generally making a ruckus. Some of what we created sings and dances, other bits didn't quite reach the launch stage, but we all learned essential lessons about what it means to do work that matters.</blockquote>
			</p>
		</div><!-- description -->
		<div class="links">
			<b>Links</b>: <a href="http://sethgodin.typepad.com/seths_blog/2013/09/learn-together.html">Description</a>, <a href="http://vimeo.com/72428593">Teaser Video</a>, <a href="http://sethgodin.typepad.com/seths_blog/2013/05/seth-godin-internship.html">Internship Announcement</a>
		</div>
		<div class="tech">
			<b>Technology Used</b>: Ruby on Rails, Heroku, Javascript, HTML, CSS
		</div>
	</div><!-- pitem -->
	<div class="pitem">
		<h2>Social Search</h2>
		<h3>Undegraduate HCI Research</h3>
		<img src="/images/socialsearch.png" align="right"></img>
		<p>
			People spend an enormous amount of time searching online for information but, more often than not, someone else has carried out the exact same search. Working with Professor Niki Kittur and a team of 4 others, we are developing an application that attempts to make organizing information less time consuming by leveraging other people’s knowledge. By just typing in a query, the system generates a well-formed answer using a combination of the crowd, information on the web, and artificial intelligence. So instead of going through many web pages to find an answer, you can leverage other people's sensemaking capabilities.
		</p>
		<div class="links">
			<b>Links</b>: <a href="https://docs.google.com/file/d/0B469yLBzI2x3dkF0LVZSTlFiRnM/edit?usp=sharing">Video Overview</a> (demo begins at 1:45)
		</div>
		<div class="tech">
			<b>Technology Used</b>: Ruby on Rails, MTurk API, Digital Ocean VPS, Javascript, HTML, CSS
		</div>
	</div><!-- pitem -->
	<div class="pitem">
		<h2>Ramen</h2>
		<h3>Cross-Platform Mobile Web Application</h3>
		<img src="/images/ramen.png" align="right"></img>
		<p>
			User studies on low fidelity prototypes are often done in iterative design as a cheap way to test the interface early. However, "Wizard of Oz" techniques make this process unscalable. Ramen is a mobile application that allows you as a designer to create interactive mobile prototypes from paper sketches and scale testing to many users. You can create tasks for your application and send them to friends or Mechanical Turkers. Your analytics dashboard will display the user feedback and a heat map of all of the interactions. Ramen was built from scratch in conjunction with another CMU student over the course of a semester.
		</p>
		<div class="links">
			<b>Links</b>: <a href="https://www.youtube.com/watch?v=UrpzytjtCqo">Demo Video</a>, <a href="https://www.dropbox.com/s/qbjkpstrspzysd5/Ramen.pdf">Report</a>, <a href="https://github.com/sankalpk/Ramen">Server Code</a>, <a href="https://github.com/sankalpk/ramenserve">Client Code</a>
		</div>
		<div class="tech">
			<b>Technology Used</b>: Node, Mongo, PhoneGap, MTurk API, Javascript, HTML, CSS
		</div>
	</div><!-- pitem -->
	<div class="pitem">
		<h2>UCompedia</h2>
		<h3>Product Comparison User Studies</h3>
		<img src="/images/ucompedia.png" align="right"></img>
		<p>
			The web is increasingly becoming a destination to buy products online. The consumer purchasing process has the highest abandonment rate during the evaluation of alternative products. UCompedia is a tool that aims to make product comparison easy by using a unique visualization and also leveraging the crowd. In order to evaluate the effectiveness of the tool and also to recommend design changes, we designed and conducted user studies over the course of a semester.
		</p>
		<div class="links">
			<b>Links</b>: <a href="https://www.dropbox.com/s/trpb00e0p7q3rnn/UCompediaReport.pdf">Report</a>, <a href="https://www.dropbox.com/s/jz0b9vgt4u2f65j/UCompediaPresentation.pdf">Presentation</a>
		</div>
	</div><!-- pitem -->
	<div class="pitem">
		<h2>Swip</h2>
		<h3>Android Permission Management</h3>
		<img src="/images/swip.png" align="right"></img>
		<p>
			 Many of the applications on the Android marketplace request permission to sensitive information and access to phone features that are beyond the scope of the application's perceived features. Users typically hit “accept” without a full understanding of the permissions requested. Swip, is a modification to the current Android Market which aims to make the process of modifying permissions during and after installation not only possible, but also easy. Swip will provide the user with a method for understanding the risks associated with each permission request and the developer’s need behind it. The application was built, user tested, and iterated on over the course of a semester.
		</p>
		<div class="links">
			<b>Links</b>: <a href="https://www.dropbox.com/s/m8s528ikf4m24oy/Swip%20Report.pdf">Report</a>, <a href="https://www.dropbox.com/s/1p14xxa0ou38ysj/Swip%20Presentation.pdf">Presentation</a>
		</div>
	</div><!-- pitem -->
</div><!-- portfolio -->