---
title: Sankalp Kulshreshtha's Portfolio
---
<h1>Sankalp Kulshreshtha's Portfolio</h1>
<div id="portfolio">
	<div class="pitem">
		<h2>Krypton</h2>
		<h3>Seth Godin Summer 2013</h3>
		<p>
			<img src="/images/krypton.png" align="left"></img>
			Can’t reveal much, but from the Vimeo description:
			<blockquote>More than 3,000 people applied to be part of this paid internship (bit.ly/1a8FfZM), and 16 spent a fortnight together, sprinting, building, inventing, connecting and generally making a ruckus. Some of what we created sings and dances (and we'll launch it soon), other bits didn't quite reach the launch stage, but we all learned essential lessons about what it means to do work that matters.</blockquote>
			<br />
			<b>Links</b>: blah blah blah
			<br />
			<b>Technology Used</b>: blah blah blah
		</p>
	</div><!-- pitem -->
</div><!-- portfolio -->